{% extends 'base.html' %}


{% block content %}
    <div class="min-h-screen bg-[#FBFBFB] py-12 px-4 sm:px-6 lg:px-8">
        <!-- Lien de retour -->
        <div class="text-center">
            <a href="{% url 'profil' %}" class="mt-4 inline-block text-[#e74c3c] hover:underline"><b>Retour au profil</b></a>
            <br>
            <br>
            <!-- Titre -->
            <h2 class="text-3xl font-bold text-[#2c3e50] mb-8">Modifier mon profil</h2>
        </div>


        <!-- Formulaire -->
        <form method="post" class="bg-[#D4F6FF] p-8 rounded-lg shadow-lg max-w-2xl mx-auto">
            {% csrf_token %}


            <!-- Champs du formulaire -->
            <div class="space-y-6">
                {% for field in form %}
                    <div class="text-center space-y-2">
                        <label class="block text-lg font-semibold text-[#2c3e50]">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <ul class="text-sm text-[#e74c3c]">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


            <!-- Bouton de soumission -->
            <button type="submit" class="mt-8 w-full bg-[#FFDDAE] text-[#2c3e50] font-semibold py-3 rounded-lg hover:bg-[#e6c89d] transition duration-300">
                Modifier mon profil
            </button>
        </form>
    </div>
{% endblock content %}