{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% tailwind_css %}

    <title>{% block title %}AssurtechIA{% endblock %}</title>
</head>
<body class="{% block body_class %}{% endblock %}">
<header >
    <nav>
        <ul>
            <li><a href="{% url 'login' %}" class="bg-blue-500 text-white px-4 py-2 rounded">Se connecter</a></li>
        
            <li><a href="{% url 'registration' %}" class="bg-blue-500 text-white px-4 py-2 rounded">S'inscrire</a></li>
        </ul>
    </nav>
</header>
<main class="flex items-center justify-center h-screen">
        {% block content %}{% endblock %}
</main>
    <footer>
        <p>&copy; AssurtechIA </p>
    </footer>    
    
</body>
</html>