{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated  %}
            <ul>
                <li>Client: {{user.email }}</li>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'profil' %}">Mon profil</a></li>
                <li><a href="{% url 'prediction' %}">Prédire</a></li>
                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'login' %}">Se connecter</a></li>
                <li><a href="{% url 'registration' %}">S'inscrire</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    <main>

    <footer>
        <p>&copy; AssurtechIA </p>
    </footer>    
    
</body>
</html>