<footer class="bg-blue-200 p-4">
    <div class="flex justify-between items-center">
        
        <div class="flex space-x-6">
            <a href="{% url 'aboutus' %}" class="text-gray-700 hover:text-gray-900">Qui sommes-nous</a>
        </div>

        
        <div class="flex space-x-6 items-center">
            {% if user.is_authenticated %}
            <span class="text-gray-700">Client : {{ user.email }}</span>
            {% endif %}
            <a href="#" class="text-gray-700 hover:text-gray-900">CGU</a>
        </div>
    </div>
</footer>